<section class="about-us-page">
    <div class="page-header">
        <h1>About</h1>
    </div>
    <p>
        Twin Cities Code Camp is Minnesota's largest developer event. Twice a year, hundreds of Minnesota's best and brightest developers converge to speak, listen, and learn from one another. We're non-profit, the event is totally free, and as unpaid volunteers, we do it for the love of technology and the software craft. We hope you enjoy our event.
    </p>
    <p>
        Twin Cities Code Camp follows the guidelines published in the <a href="http://blogs.msdn.com/trobbins/archive/2004/12/12/280181.aspx">Code Camp manifesto</a>. We expect our attendees to adhere to our <a href="#/policies">code of conduct policy</a>.
    </p>
    <p>
        As this is a community-driven event, we are always looking for people to lead sessions, volunteer to help during the day of the event, etc. If you'd like to participate, or if you'd like to contribute to the event, <a href="mailto:tccodecamp@gmail.com">let us know</a>.
    </p>
    <br />

    <div class="page-header">
        <h1>Follow us</h1>
    </div>

    <div class="row social">
        <div class="col-xs-6 col-sm-3">
            <i class="fa fa-twitter fa-2x fa-fw" style="color: #00aced"></i> <a href="https://twitter.com/tccodecamp">@tccodecamp</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <i class="fa fa-facebook-official fa-2x fa-fw" style="color: #3b5998"></i> <a href="http://www.facebook.com/group.php?gid=7828067259">TCCC on Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <i class="fa fa-youtube fa-2x fa-fw" style="color: #bb0000;"></i> <a href="https://www.youtube.com/user/TwinCitiesCodeCamp">TCCC on YouTube</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <i class="fa fa-envelope fa-2x fa-fw" style="color: #7B0099"></i> <a href="mailto:tccodecamp@gmail.com">tccodecamp@gmail.com</a>
        </div>
    </div>
    <br />

    <div class="page-header">
        <h1>Meet the team</h1>
    </div>
    
    <div class="text-centered">
        <img class="img-responsive" src="http://bitshuvafiles01.com/tccc/code-camp-team.jpg" style="max-width: 700px; margin-left: auto; margin-right: auto; box-shadow: 0 0 5px grey;" />
    </div>
    <br />

    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="/Content/Images/People/bock.jpg" alt="Profile pic of Jason Bock">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Jason Bock</h2>
            <p>
                Jason Bock is a Practice Lead for <a href="http://www.magenic.com">Magenic</a> and a Microsoft MVP (C#). He has 20 years of experience working on a number of business applications using a diverse set of frameworks and languages such as C#, .NET, and JavaScript. He is the author of "Metaprogramming in .NET", "Applied .NET Attributes", and "CIL Programming: Under the Hood of .NET". He has written numerous articles on software development issues and has presented at a number of conferences and user groups. He is a leader of <a href="http://www.twincitiescodecamp.com">Twin Cities Code Camp</a>. Jason holds a Master's degree in Electrical Engineering from Marquette University.
                <br /><a href="http://twitter.com/jasonbock">@jasonbock</a>
                <br /><a href="http://www.jasonbock.net">jasonbock.net</a>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="https://pacdn.500px.org/2043771/027540f92c09747c509cced3015272b000dc5f80/1.jpg?1" alt="Profile pic of Mike Hodnick">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Mike Hodnick</h2>
            <p>
                i make humanly-organized sound, usually with code
                <br /><a href="http://twitter.com/brandyfavilla">@kindohm</a>
                <br /><a href="http://kindohm.com">kindohmn.com</a>
                <br /><a href="http://soundcloud.com/kindohm">soundcloud.com/kindohm</a>
                <br /><a href="http://kindohm.bandcamp.com">kindohm.bandcamp.com</a>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="http://lh3.googleusercontent.com/-MnT1oNhnDRo/AAAAAAAAAAI/AAAAAAAADHk/QUllcYnPVVo/s512-c/photo.jpg" alt="Profile pic of Judah Gabriel Himango">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Judah Gabriel Himango</h2>
            <p>
                Web dev, husband, dad, guitarist, man of faith, builder of things including <a href="http://twincitiescodecamp.com">TwinCitiesCodeCamp.com</a>. I like creating things that produce goodness: <a href="http://messianicradio.com">Chavah Messianic Radio</a>, <a href="http://messianicchords.com">MessianicChords</a>, <a href="http://etzmitzvot.com">EtzMitzvot</a>, <a href="http://ysnmn.org">Youth Service Network</a>.
            </p>
            <a href="http://twitter.com/judahgabriel">@judahgabriel</a>
            <br />
            <a href="http://debuggerdotbreak.judahgabriel.com" title="My software blog">DebuggerDotBreak</a>
            <br />
            <a href="http://blog.judahgabriel.com" title="My Messianic theology blog">Kineti L'Tziyon</a>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="/Content/Images/People/sheila.jpg?update=1" alt="Profile pic of Sheila Dennis">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Sheila Dennis</h2>
            <p>
                Software Developer
                <br /><a href="http://twitter.com/sheiladennis">@sheiladennis</a>
            </p>
        </div>
    </div>

    <!--<div class="text-center">
        <img class="img-responsive" src="../../Content/Images/team.jpg" style="box-shadow: 0 0 10px 0 black; max-height: 300px; margin-left: auto; margin-right: auto;" />
    </div>-->


</section>