<section class="about-us-page">
    <div class="page-header">
        <h1>Meet the Twin Cities Code Camp team</h1>
    </div>

    <i class="fa fa-twitter"></i> <a href="https://twitter.com/tccodecamp">@tccodecamp</a>
    <br />
    <i class="fa fa-envelope"></i> <a href="mailto:tccodecamp@gmail.com">tccodecamp@gmail.com</a> 

    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/467736259515797504/NeueR5Qc_400x400.png" alt="Profile pic of Jason Bock">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Jason Bock</h2>
            <p>
                Jason Bock is a Practice Lead for <a href="http://www.magenic.com">Magenic</a> and a Microsoft MVP (C#). He has 20 years of experience working on a number of business applications using a diverse set of frameworks and languages such as C#, .NET, and JavaScript. He is the author of "Metaprogramming in .NET", "Applied .NET Attributes", and "CIL Programming: Under the Hood of .NET". He has written numerous articles on software development issues and has presented at a number of conferences and user groups. He is a leader of <a href="http://www.twincitiescodecamp.com">Twin Cities Code Camp</a>. Jason holds a Master's degree in Electrical Engineering from Marquette University.
                <br /><a href="http://twitter.com/jasonbock">@jasonbock</a>
                <br /><a href="http://www.jasonbock.net">jasonbock.net</a>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/657948809889120256/z41uovA3.jpg" alt="Profile pic of Brandy Favilla">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Brandy Favilla</h2>
            <p>
                Elk River Schools IT Support, Community Education Instructor & Digital Citizenship Educator.
                <br /><a href="http://twitter.com/brandyfavilla">@brandyfavilla</a>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="https://pacdn.500px.org/2043771/027540f92c09747c509cced3015272b000dc5f80/1.jpg?1" alt="Profile pic of Mike Hodnick">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Mike Hodnick</h2>
            <p>
                i make humanly-organized sound, usually with code
                <br /><a href="http://twitter.com/brandyfavilla">@kindohm</a>
                <br /><a href="http://kindohm.com">kindohmn.com</a>
                <br /><a href="http://soundcloud.com/kindohm">soundcloud.com/kindohm</a>
                <br /><a href="http://kindohm.bandcamp.com">kindohm.bandcamp.com</a>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="http://lh3.googleusercontent.com/-MnT1oNhnDRo/AAAAAAAAAAI/AAAAAAAADHk/QUllcYnPVVo/s512-c/photo.jpg" alt="Profile pic of Judah Gabriel Himango">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Judah Gabriel Himango</h2>
            <p>
                Web dev, husband, dad, musician, man of faith, builder of things. I built <a href="https://ysnmn.org">YsnMN.org</a>, <a href="https://3m.com/vas">3M Visual Attention Software</a>, <a href="https://ravendb.net/docs/article-page/3.0/csharp/studio/accessing-studio">RavenDB Studio</a>, <a href="http://messianicradio.com">Chavah Messianic Radio</a>, <a href="https://messianicchords.com">MessianicChords</a>, and <a href="etzmitzvot.com">EtzMitzvot</a>.
            </p>
            <a href="http://twitter.com/judahgabriel">@judahgabriel</a>
            <br />
            <a href="http://debuggerdotbreak.wordpress.com">DebuggerDotBreak</a>
            <br />
            <a href="http://judahgabriel.blogspot.com">Kineti L'Tziyon</a>
        </div>
    </div>
</section>