<section class="about-us-page">
    <div class="page-header">
        <h1>Meet the Twin Cities Code Camp team</h1>
    </div>

    <i class="fa fa-twitter"></i> <a href="https://twitter.com/tccodecamp">@tccodecamp</a>
    <br />
    <i class="fa fa-envelope"></i> <a href="mailto:tccodecamp@gmail.com">tccodecamp@gmail.com</a> 

    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/467736259515797504/NeueR5Qc_400x400.png" alt="Profile pic of Jason Bock">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Jason Bock</h2>
            <p>
                Living in reality. Numerous other things. Commentary may or may not represent my employer or any other organization or entity. Caveat emptor.
                <br /><a href="http://twitter.com/jasonbock">@jasonbock</a>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/657948809889120256/z41uovA3.jpg" alt="Profile pic of Brandy Favilla">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Brandy Favilla</h2>
            <p>
                Elk River Schools IT Support, Community Education Instructor & Digital Citizenship Educator.
                <br /><a href="http://twitter.com/brandyfavilla">@brandyfavilla</a>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="https://pacdn.500px.org/2043771/027540f92c09747c509cced3015272b000dc5f80/1.jpg?1" alt="Profile pic of Mike Hodnick">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Mike Hodnick</h2>
            <p>
                i make humanly-organized sound, usually with code
                <br /><a href="http://twitter.com/brandyfavilla">@kindohm</a>
                <br /><a href="http://kindohm.com">kindohmn.com</a>
                <br /><a href="http://soundcloud.com/kindohm">soundcloud.com/kindohm</a>
                <br /><a href="http://kindohm.bandcamp.com">kindohm.bandcamp.com</a>
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle" src="http://lh3.googleusercontent.com/-MnT1oNhnDRo/AAAAAAAAAAI/AAAAAAAADHk/QUllcYnPVVo/s512-c/photo.jpg" alt="Profile pic of Judah Gabriel Himango">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">Judah Gabriel Himango</h2>
            <p>
                Web dev, husband, dad, musician, man of faith.
            </p>
            <a href="http://twitter.com/judahgabriel">@judahgabriel</a>
            <br />
            <a href="http://debuggerdotbreak.wordpress.com">DebuggerDotBreak</a>
            <br />
            <a href="http://judahgabriel.blogspot.com">Kineti L'Tziyon</a>
        </div>
    </div>
</section>