<section class="admin-submissions" ng-controller="AdminSubmissionsController as vm">
    <admin-nav page="talks" event-id="vm.eventId"></admin-nav>

    <h2>
        {{vm.totalTalks}} talk submissions
        <a class="btn btn-default pull-right" href="/files/GetTalkSubmissionsCsv"><i class="fa fa-file-excel-o" style="color: white; background-color: rgb(31, 112, 68)"></i> Generate CSV</a>
    </h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <ul class="nav nav-tabs">
                <li ng-repeat="filter in vm.approvalOptions" ng-click="vm.selectedFilter = filter.value" ng-class="{ active: vm.selectedFilter === filter.value }" role="presentation">
                    <a href="javascript:void(0)">
                        {{filter.collection.length}} {{filter.name}}
                    </a>
                </li>
            </ul>

            <ul class="nav nav-pills nav-stacked" style="overflow: auto; max-height: 500px;">
                <li role="presentation" ng-repeat="talk in vm.submissions" ng-class="{ active: vm.currentTalk === talk }" ng-click="vm.currentTalk = talk">
                    <a href="javascript:void(0)">{{talk.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="well">

                <!--<input ng-model="vm.getGoogleDocText" />-->

                <form ng-show="vm.currentTalk">
                    <div class="form-group pull-right">
                        <p class="form-control-static">
                            <a ng-href="#/{{vm.currentTalk.id}}" title="Preview this talk submission" style="margin-right: 15px;">
                                <i class="fa fa-eye fa-2x"></i>
                            </a>
                            <a ng-href="#/talks/mine/edit/{{vm.currentTalk.id}}" title="Edit this talk submission">
                                <i class="fa fa-pencil fa-2x"></i>
                            </a>
                        </p>
                    </div>
                    <div class="form-group">
                        <p class="form-control-static">
                            <h3>
                                {{vm.currentTalk.title}}
                            </h3>
                            <span ng-repeat="tag in vm.currentTalk.tags" style="padding: 5px; margin-right: 5px; display: inline-block;">
                                <i class="fa fa-tag"></i>
                                {{tag}}
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p class="form-control-static">
                            <img ng-show="vm.currentTalk.pictureUrlOrDefault" ng-src="{{vm.currentTalk.pictureUrlOrDefault}}" class="img-rounded" style="max-width: 50px; max-height: 50px; border-radius: 100px; margin-right: 10px;">
                            {{vm.currentTalk.author}}
                            <span ng-show="{{vm.currentTalkEmail}}">
                                <i class="fa fa-email"></i> {{vm.currentTalkEmail}}
                            </span>
                            <a ng-show="{{vm.currentTalk.authorTwitter}}" ng-href="https://twitter.com/{{vm.currentTalk.authorTwitter}}">
                                <i class="fa fa-twitter"></i> {{vm.currentTalk.authorTwitter}}
                            </a>
                            <a ng-show="{{vm.currentTalk.authorGitHub}}" ng-href="https://github.com/{{vm.currentTalk.authorGitHub}}">
                                <i class="fa fa-github"></i> {{vm.currentTalk.authorGitHub}}
                            </a>
                            <a ng-show="{{vm.currentTalk.authorUrl}}" ng-href="{{vm.currentTalk.authorUrl}}">
                                <i class="fa fa-link"></i> {{vm.currentTalk.authorUrl}}
                            </a>
                        </p>
                    </div>

                    <div class="form-group">
                        <label>Abstract</label>
                        <p class="form-control-static">{{vm.currentTalk.abstract}}</p>
                    </div>

                    <div class="form-group">
                        <label>Bio</label>
                        <p class="form-control-static">{{vm.currentTalk.authorBio}}</p>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="vm.isSaving">
                            {{vm.currentTalkStatus}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="option in vm.approvalOptions" ng-hide="option.value === 0" ng-click="vm.setApprovalStatus(vm.currentTalk, option.value)">
                                <a href="javascript:void(0)">{{option.name}}</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>