<section ng-controller="EventController as vm">
    <div class="page-header text-center">
        <h1>Twin Cities Code Camp {{vm.event.number}}</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h4>Code Camp takes place <span class="text-primary">{{vm.event.friendlyDate}}</span></h4>
            <h4>at {{vm.event.locationFriendlyName}}</h4>
            <h4><a ng-href="https://www.google.com/maps/search/{{vm.escapedAddress}}">{{vm.event.address}}</a></h4>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4>
                Coming to the event? Please <a href="#" ng-href="{{vm.event.registerUrl}}" class="btn btn-primary" target="_blank">register</a>
            </h4>
            <h4 ng-show="vm.event.isAcceptingTalkSubmissions">
                Interested in speaking? <a href="#/callforspeakers">Submit your talk</a>.
            </h4>
        </div>
    </div>
    <div class="row">
        <h3>Code Camp is held in the <span class="text-primary">Kopp Student Center</span> at Normandale Community College</h3>
        <img class="img-responsive" src="../../Content/Images/Location/normandale-entrance.jpg" />
        <br />
        <img class="img-responsive" src="../../Content/Images/Location/normandale-first-floor.jpg" />
        <br />
        <img class="img-responsive" src="../../Content/Images/Location/normandale-second-floor.jpg" />
    </div>
</section>