<section class="home-page">
    <div class="page-header text-center">
        <h1>Code Camp is Minnesota's free grassroots event by devs and for devs. <br /><small>Watch talks. Learn new stuff. Have fun. Become better at your craft.</small></h1>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="text-center">
                <div class="icon bg-danger text-center">
                    <i class="fa fa-rocket"></i>
                </div>
                <h4>Build</h4>
                <p>Practical, hands-on and interactive sessions to grow your skills and build your career. Learn stuff you can use at work and in your side projects.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="text-center">
                <div class="icon bg-warning">
                    <i class="fa fa-object-group"></i>
                </div>
                <h4>Learn</h4>
                <p>Being a developer means learning and growing your skills. At Code Camp, you'll catch talks by seasoned developers on web, mobile, cloud, and native development.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="text-center">
                <div class="icon bg-info">
                    <i class="fa fa-connectdevelop"></i>
                </div>
                <h4>Connect</h4>
                <p>Code Camp is where you can connect with peers and leaders in the Minnesota tech community.</p>
            </div>
        </div>
    </div>
</section>