<section ng-controller="MyTalksController as vm">
    <h2>My talk submissions</h2>

    <div ng-hide="vm.isSignedIn">
        <h3>
            <i class="fa fa-info-circle text-info"></i> Woops, you're not signed in.
        </h3>
        <p>
            <a href="/account/login">Sign in</a> or <a href="/account/register">register</a>
        </p>
    </div>

    <div ng-show="vm.submissions.isLoadedWithData">

        <div ng-repeat="talksForEvent in vm.submissionsByEvent">

            <!--The "#tcccxx" header-->
            <ol class="breadcrumb">
                <li class="active">
                    <h3>
                        {{vm.getFriendlyEventName(talksForEvent.eventId)}} - {{vm.getYearForTalk(talksForEvent.talks[0])}}
                    </h3>
                </li>
            </ol>

            <!--The list of talk submissions-->
            <div class="panel" ng-repeat="talk in talksForEvent.talks" ng-class="{ 'panel-info': talk.status === 0, 'panel-warning': talk.status === 1, 'panel-primary': talk.status === 2 }">
                <div class="panel-heading">
                    <p class="panel-title">
                        <h4>{{talk.title}}</h4>
                    </p>
                </div>
                <div class="panel-body">
                    <h4>{{talk.author}}</h4>
                    <p>
                        <span ng-repeat="tag in talk.tags">
                            <i class="fa fa-tag"></i>
                            {{tag}}
                            &nbsp;
                        </span>
                    </p>
                    <br />
                    <h4 class="clearfix">Abstract</h4>
                    <p class="list-group-item-text" ng-bind-html="talk.abstract">
                        {{talk.abstract}}
                    </p>
                    <p ng-show="talk.status === 0">
                        <a class="btn btn-primary btn-lg" ng-href="#/talks/mine/edit/{{talk.id}}">
                            <i class="fa fa-pencil"></i>
                            Edit this talk
                        </a>
                    </p>
                </div>
                <div class="panel-footer">
                    <h5>
                        <span class="text-info" ng-show="talk.status === 0">
                            Under consideration - check back later! ʘ‿ʘ
                        </span>
                        <span class="text-warning" ng-show="talk.status === 1">
                            <i class="fa fa-ban"></i> Rejected - oh noes! Sorry, this talk didn't make the cut for {{vm.getFriendlyEventName(talk.eventId)}}. ಥ_ಥ
                        </span>
                        <span class="text-success" ng-show="talk.status === 2">
                            <i class="fa fa-check"></i> Approved - You're giving this talk at {{vm.getFriendlyEventName(talk.eventId)}}! ヾ(⌐■_■)ノ♪
                        </span>
                    </h5>
                </div>
            </div>
        </div>

    </div>

    <div ng-show="vm.submissions.isLoadedAndEmpty">
        <h3>
            <i class="fa fa-info-circle text-info"></i> Hrmmm, you don't have any talks.
        </h3>
        <p>
            <a href="#/callforspeakers">Submit one now</a>
        </p>
    </div>
</section>