<section class="past-events-page" ng-controller="PastEventsController as vm">
    <div class="page-header">
        <h1><strong>Past events</strong> <small>Take a stroll down memory lane and browse our past <span ng-show="vm.allEvents.length">{{vm.allEvents.length - 1}}</span> events.</small></h1>
    </div>

    <div class="well" ng-repeat="event in vm.allEvents">
        <h1>
            <a ng-href="#/{{event.id}}/talks">#tccc{{event.number}}</a>
        </h1>
        {{event.seasonYear}}
    </div>
</section>