<div ng-controller="PastEventDetailsController as vm">
    <h1>#tccc{{vm.event.number}} <small>{{vm.event.seasonYear}}</small></h1>

    <div class="media" ng-repeat="talk in vm.talks">
        <div class="media-left">
            <a ng-href="#/{{talk.id}}">
                <img class="media-object img-circle" ng-src="{{talk.pictureUrlOrDefault}}" alt="Profile pic of {{talk.author}}">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">
                <a ng-href="#/{{talk.id}}">{{talk.title}}</a>
            </h2>
            <h4><small class="text-muted">by</small> {{talk.author}}</h4>
            <p class="abstract" ng-bind-html="talk.htmlSafeAbstract"></p>
        </div>
    </div>
</div>