<section class="sponsors-page">
    <div class="page-header">
        <h1>Twin Cities Code Camp {{vm.event.number}} sponsors</h1>
    </div>

    <!--TODO: this should not be hard-coded-->
    <h2>Gold Sponsors</h2>
    <div class="row">
        <div class="sponsor col-xs-12">
            <a href="http://devjam.com">
                <img src="http://www.twincitiescodecamp.com/Images/DevJam.jpg" />
            </a>
        </div>
        <div class="sponsor col-xs-12">
            <a href="http://www.powerobjects.com/">
                <img src="http://www.twincitiescodecamp.com/Images/PowerObjects.png" />
            </a>
        </div>
        <div class="sponsor col-xs-12">
            <a href="http://www.thesoftwareguild.com/">
                <img src="http://www.twincitiescodecamp.com/Images/SoftwareGuild.jpg" />
            </a>
        </div>
        <div class="sponsor col-xs-12">
            <a href="http://magenic.com">
                <img src="http://www.twincitiescodecamp.com/Images/Magenic.png" />
            </a>
        </div>
    </div>

    <h2>Silver Sponsors</h2>

    <h2>Bronze Sponsors</h2>
</section>