<section class="sponsors-page" ng-controller="SponsorsController as vm">
    <div class="page-header">
        <h1>
            <span class="text-primary">Sponsors</span> of Twin Cities Code Camp {{vm.event.number}}
        </h1>
        <h5>A huge <span class="text-primary">THANK YOU</span> to our sponsors; these are the excellent companies who enable us to put on Code Camp. Please check out their websites and utilize their services as a way to thank them for their support of #tccc{{vm.event.number}}.</h5>

        <div class="alert alert-info" style="display: inline-block;">
            <i class="fa fa-info-circle"></i> Interested in becoming a sponsor? It's easy. Head over to <a class="alert-link" href="#/sponsorship">sponsorship details</a>.
        </div>
    </div>

    <div ng-repeat="sponsorGroup in vm.sponsorGroups">
        <h2>
            <i class="fa fa-circle" ng-style="{ color: sponsorGroup.iconColor }"></i>
            {{sponsorGroup.name}}
        </h2>
        <p ng-show="sponsorGroup.description">{{sponsorGroup.description}}</p>
        <div class="row">
            <div class="sponsor col-xs-12" ng-repeat="sponsor in sponsorGroup.sponsors">
                <div class="well">
                    <a ng-href="{{sponsor.url}}">
                        <img class="img-responsive" ng-src="{{sponsor.logo}}" />
                    </a>
                    <h3 class="website"><a ng-href="{{sponsor.url}}">{{sponsor.urlFriendly}}</a></h3>
                    <h4>
                        <i class="fa fa-twitter" style="color: #00aced"></i> 
                        <a ng-href="https://twitter.com/{{sponsor.twitter}}">
                            {{sponsor.twitter}}
                        </a>
                    </h4>
                    <p ng-show="sponsor.about" ng-bind-html="sponsor.aboutHtmlSafe"></p>
                </div>
            </div>
            <div class="col-xs-12 sponsor" ng-show="sponsorGroup.sponsors.length === 0">
                <div class="well">
                    None yet. <a href="#/sponsorship">Become the first</a>.
                </div>
            </div>
        </div>
        <hr />
    </div>

</section>