<div class="jumbotron">
    <h1><i class="fa fa-exclamation-circle text-warning"></i> Sponsorship cancelled</h1>
    <p>You cancelled the sponsorship. ¯\_(ツ)_/¯</p>
    <p>Question about sponsorship? Need to pay with a check? Need an invoice? Want to donate prize giveaways? Contact us at <a href="mailto:sponsors@twincitiescodecamp.com">sponsors@twincitiescodecamp.com</a> or <a href="https://twitter.com/@tccodecamp"><i class="fa fa-twitter"></i> @tccodecamp</a></p>
    <p><a class="btn btn-primary btn-lg" href="#/sponsorship" role="button">Go back to sponsorship</a></p>
</div>