<section class="talks-page" ng-controller="TalksController as vm">
    <div class="page-header">
        <h1><strong>Talks</strong> at #tccc{{vm.event.number}} - {{vm.event.seasonYear}}</h1>
    </div>

    <!--If we're accepting submissions-->
    <div ng-show="vm.event.isAcceptingTalkSubmissions">
        <div class="jumbotron">
            <h1>Submit your talk</h1>
            <p>
                <a class="btn btn-primary" href="#/callforspeakers">Submit your talk</a>
                <a class="btn btn-info" href="#/talks/mine">Check my talk status</a>
            </p>
            <p>
                We’d like to extend the invitation to you to speak at <a ng-href="{{'https://twitter.com/search?q=%23tccc' + vm.event.number}}">#tccc{{vm.event.number}}</a>. The same rules from the previous Twin Cities Code Camp events apply:
                <ul>
                    <li>We’ll take as many ideas as we get until midnight, March 4th. After that, we’ll select the sessions and let everyone know if their ideas were accepted or not the following weekend. We'll have 7 rooms available so that means we need 35 sessions. We realize with those who would have to travel that this may be too short of notice, so we’ll try to give those out-of-towners enough notice if their session is in.</li>
                    <li>Feel free to send us multiple sessions, but please keep in mind we usually have only one session per speaker.</li>
                    <li>The length of a session is 60 minutes.</li>
                </ul>

                If you have any questions, reach out to us <a href="https://twitter.com/tccodecamp">on Twitter</a> or <a href="mailto:tccodecamp@gmail.com">email</a>. Also, please spread the word to other individuals that you think may be interested in speaking at this event.
            </p>

        </div>
    </div>

    <!--No talks yet, and we're not yet accepting submissions-->
    <div class="alert alert-info" ng-show="vm.event.isAcceptingTalkSubmissions === false && vm.talks.isLoadedAndEmpty">
        <h2>
            <i class="fa fa-info-circle"></i> You're early!
        </h2>
        <p>
            We're not yet accepting talks for #tccc{{vm.event.number}}. Check back later.
        </p>
        <a href="#" class="alert-link" ng-href="{{'#/events/' + (vm.event.number - 1) + '/talks'}}">View talks from last event</a>
    </div>

    <!--We're not accepting submissions, and we have talks. Display them!-->
    <div class="media" ng-show="vm.event.isAcceptingTalkSubmissions === false && vm.talks.isLoadedWithData" ng-repeat="talk in vm.talks.items">
        <div class="media-left">
            <a ng-href="#/{{talk.id}}">
                <img class="media-object img-circle" ng-src="{{talk.pictureUrlOrDefault}}" alt="Profile pic of {{talk.author}}">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">
                <a ng-href="#/{{talk.id}}">{{talk.title}}</a>
            </h2>
            <h4><small class="text-muted">by</small> {{talk.author}}</h4>
            <p class="abstract" ng-bind-html="talk.abstract"></p>
        </div>
    </div>


</section>