<section class="talk-profile-page" ng-controller="TalkProfileController as vm">

    <div class="media">
        <div class="media-left hidden-xs">
            <a href="#">
                <img class="media-object img-circle" ng-src="{{vm.talk.pictureUrlOrDefault}}" alt="Profile pic of {{vm.talk.author}}" />
            </a>
        </div>
        <div class="media-body">

            <!--On mobile, we show the image inside the body.-->
            <img class="media-object img-circle visible-xs-block" ng-src="{{vm.talk.pictureUrlOrDefault}}" alt="Profile pic of {{vm.talk.author}}" />

            <div class="alert alert-info" ng-if="vm.canEditTalk">
                <i class="fa fa-info-circle"></i>
                This is your talk. You can <a ng-href="#/talks/mine/edit/{{vm.talk.id}}"><i class="fa fa-pencil"></i> update it</a>.
            </div>

            <h2 class="media-heading">{{vm.talk.title}} </h2>
            <h4>
                <span ng-show="vm.talk.tags">
                    <span class="tag" ng-repeat="tag in vm.talk.tags">
                        <i class="fa fa-tag"></i>
                        {{tag}}
                    </span>
                    <br />
                </span>
                <small class="text-muted">by</small>
                {{vm.talk.author}}
                <a ng-show="vm.talk.authorTwitter" ng-href="https://twitter.com/{{vm.talk.authorTwitter}}" style="padding-left: 10px;">
                    <i class="fa fa-twitter" style="color: #00aced" ng-show="vm.talk.authorTwitter"></i>
                    {{vm.talk.authorTwitter}}
                </a>
                <a ng-show="vm.talk.authorGitHub" ng-href="https://github.com/{{vm.talk.authorGitHub}}" style="padding-left: 10px;">
                    <i class="fa fa-github" style="color: black;" ng-show="vm.talk.authorGitHub"></i>
                    {{vm.talk.authorGitHub}}
                </a>
                <span ng-show="vm.talk.authorUrl">
                    <br />
                    <i class="fa fa-link"></i>
                    <a ng-show="vm.talk.authorUrl" ng-href="{{vm.talk.authorUrl}}">
                        {{vm.talk.authorUrl}}
                    </a>
                </span>
                <span ng-show="vm.talk.room">
                    <br />
                    <small class="text-muted">in</small>
                    {{vm.talk.room}}
                </span>
                <span ng-show="vm.talk.timeFriendly">
                    <br />
                    <small class="text-muted">at</small>
                    {{vm.talk.timeFriendly}}
                </span>
            </h4>
            <p class="abstract" ng-bind-html="vm.talk.htmlSafeAbstract"></p>
            <hr />
            <p class="bio">
                <span class="text-muted">About the author:</span>
                <span ng-bind-html="vm.talk.htmlSafeBio"></span>
            </p>
        </div>
    </div>
</section>