@model TwinCitiesCodeCamp.Models.HomeViewModel
@{
    ViewBag.Title = "Twin Cities Code Camp";
}

<script type="text/javascript">
    window["Tccc.HomeViewModel"] = {
        isSignedIn: @(Model.IsSignedIn ? bool.TrueString.ToLower() : bool.FalseString.ToLower()),
        userName: "@Model.UserName",
        userId: "@Model.UserId",
        isUserAdmin: @(Model.IsUserAdmin ? bool.TrueString.ToLower() : bool.FalseString.ToLower())
    };
</script>

<div data-ng-app="TcccApp">

    <header id="header" class="row hidden-print" role="banner">
        @*<div class="row">
            <img src="~/Content/Images/wide_sepia.jpg" class="img-responsive" />
        </div>*@
        <div ng-include="Partials.header"></div>
    </header>
    <section class="page container">
        <div ng-view></div>
    </section>
</div>