@{
    ViewBag.Title = "Twin Cities Code Camp";
}

<div data-ng-app="TcccApp">

    <header id="header" class="row hidden-print" role="banner">
        @*<div class="row">
            <img src="~/Content/Images/wide_sepia.jpg" class="img-responsive" />
        </div>*@
        <div ng-include="header"></div>
    </header>
    <section class="page container">
        <div ng-view></div>
    </section>
</div>